* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: #53EAFD;
    color: #111;
    transition: 0.3s ease;
}

.encabezado {
    text-align: center;
    padding: 20px;
}

.boton-modo {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: black;
    color: white;
    font-size: 14px;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.seccion-reloj {
    display: flex;
    align-items: center;
    gap: 40px;
}


.reloj {
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 25px;
    position: relative;

    box-shadow:
    0 15px 35px rgba(117, 116, 116, 0.35),
    0 5px 15px rgba(185, 185, 185, 0.2);
}
.manecilla {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(0deg);
}


.hora {
    width: 6px;
    height: 50px;
    background: black;
    border-radius: 5px;
}


.minuto {
    width: 4px;
    height: 70px;
    background: black;
    border-radius: 5px;
}


.segundo {
    width: 2px;
    height: 90px;
    background: #e74c3c;
}

.punto-central {
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hora-digital {
    font-size: 56px;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 15px;
}

.fecha-inline {
    font-size: 14px;
    color: #494949;
    letter-spacing: 1px;
    font-weight: 500;
}
.dia-circulo {
    background: black;
    color: white;
    padding: 4px 8px;
    border-radius: 50px;
    font-size: 12px;
    margin-left: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
}
.oscuro .dia-circulo {
    background: white;
    color: black;
}

.oscuro {
    background: #111;
    color: white;
}

.oscuro .reloj {
    background: #222;
}

.oscuro .boton-modo {
    background: white;
    color: black;
}

.oscuro .fecha-inline {
    color: #ccc;
}

